/*  */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /*  Optional: just make scrollbar invisible */
  display: none;
}

#title {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: rotate(270deg);
  font-family: "VT323", sans-serif;
  font-size: var(--size-2xl);
  color: var(--clr-neutral);
  font-weight: 500;
}

.btn-1 {
  text-decoration: none;
  font-family: "vt323", sans-serif;
  letter-spacing: 1.5px;
  font-size: var(--size-xs);
  color: var(--clr-neutral);
  border: 1px solid var(--clr-neutral);
  padding: 0.5rem;
  cursor: pointer;
}

@media (max-width: 350px) {
  #title {
    opacity: 0;
  }
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.page-content {
  padding: calc(var(--pad) * 2 + 1px) calc(var(--pad) * 2);
  margin-left: 1rem;
  display: flex;
  flex-direction: column;

  gap: 2rem;
  margin-top: 3rem;
  font-size: var(--size-xs);
}

span {
  font-size: var(--size-xxs);
  color: var(--clr-neutral);
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.069);
  display: block;
  padding-top: 2rem;
}

/* -----MEDIUM MQ----- */

@media (min-width: 768px) {
  .page-content {
    font-size: var(--size-sm);
    gap: 3rem;
    width: 100%;
  }

  span {
    font-size: var(--size-xs);
  }

  h2 {
    font-size: var(--size-2xl);
  }
}

/* -----LARGE MQ----- */
@media (min-width: 1024px) {
  #title {
    bottom: 6%;
    right: 3%;
  }
}

/* @media screen and (orientation: landscape) {
  .home {
    margin-top: 10% !important; 
  }

  .page-content {
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  .page-content #title {
    bottom: 8%;
  }
  
} */

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .home {
    margin-top: 0 !important;
    max-width: 100%;
    overflow-y: auto;
  }

  .page-content #title {
    bottom: 8%;
  }
}
